.cartItem {
    display: flex; 
    width: 100%;
    max-width: 100%; 
    border: 1px solid rgb(161, 48, 48); 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
    padding: 15px; 
    margin: 15px 0; 
    align-items: flex-start; 
    overflow: hidden; 
    box-sizing: border-box; 
}

.image {
    width: 200px; 
    height: auto; 
    border-radius: 5px; 
    margin-right: 20px; 
    flex-shrink: 0; 
}

.itemDetails {
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.4em; 
    margin: 0; 
    color: #333; 
}

.description {
    font-size: 0.9em; 
    color: #666; 
    margin: 5px 0; 
}

.priceQuantity {
    display: flex; 
    justify-content: space-between; 
    margin: 10px 0; 
}

.price, .quantity {
    font-weight: bold;
    margin: 0; 
}

.buttonDelete {
    background-color: rgb(161, 48, 48); 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 15px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
    align-self: center; 
}

.buttonDelete:hover {
    background-color: rgb(130, 30, 30); 
    transform: scale(1.05); 
}