.navbar {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  background-color: #f8ddcc;
  color: black;
}

.categories {
  list-style: none;
  display: flex;
  gap: 40px;
}

.categories li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.logo {
  height: 170px; 
}

.isActive {
  font-weight: bold; 
  color: #e4ded9; 
}

.notActive {
  color: rgb(0, 0, 0); 
}