.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8ddcc;
  padding: 10px 20px;
  color: rgb(11, 11, 11);
}

.categories {
  list-style: none;
  display: flex;
  gap: 15px;
}

.categories li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.logo {
  height: 150px;
}
